*{
    font-family: helvetica;
}

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, rgb(194, 145, 21), goldenrod);
}

.nav{
    float: left;
    font-size: 30px;
    font-weight: bold;
    color: ivory;
    justify-items: center;
}

li a{
    display: block;
    color:white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover{
    color: lightgray;
}

#description{
    text-align: left;
}

#faq{
    list-style-type: none;
    color: ivory;
}

.lists{
    list-style-type: none;
    
}

.tablestyleheadings{
    background-color: #00a6aa;
}

.quartile, .ec, .grade{
    text-align: center;
}

.tablestyledata{
    background-color: rgb(245, 245, 228);
}

body{
    background: linear-gradient(45deg, rgb(54, 2, 2), rgb(75, 2, 2)); ;
    margin: 0;
    height: 963.79px;
}

footer{
    background: linear-gradient(45deg, rgb(194, 145, 21), goldenrod);
    
    height: 66.4px;
}

#tablestyle{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border: 1px hidden;
    text-align: left;
}

.linktext{
    margin: 20px;
    border-radius: 0%;
    font-weight: bold;
    display: block;
    text-decoration: none;
    color: ivory;
    font-size: 25px;
}

a:visited{
    text-decoration: none;
}

#assignment{
    margin-top: 50px;
    display: flex;
    color: ivory;
}

#home{
    text-align: center;
    color: ivory;
}

#guide{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 179px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#profile{
    color: ivory;
}

.katten{
    border: none;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 250px;
}